<!-- <div class="form">
    <input [(ngModel)]="emailid" type="email" value="" placeholder="">
    <input  [(ngModel)]="phonenumber" type="number" value="" placeholder="phonenumber">
    <input  [(ngModel)]="country" type="text" value="" placeholder="country">

    <input  [(ngModel)]="company" type="text" value="" placeholder="company">

    <input  [(ngModel)]="gender" type="gender" value="" placeholder="gender">

    <input   [(ngModel)]="dob" type="date" value="" placeholder="dob">

    <input  [(ngModel)]="insurance" type="number" value="" placeholder="insurance">
    <input   [(ngModel)]="network"  type="text" value="" placeholder="network'">
    <input   type="submit" (click)="getUser()" value="save">
 
</div> -->


<router-outlet></router-outlet>